<mat-toolbar fxLayout="row" fxLayoutAlign="start center" class="header">
  <div class="container">
    <div fxFlex>
      <a routerLink="/principal" routerLinkActive="active"><img src="/assets/images/logoRA.png" class="logo"></a>
    </div>
  </div>

  <div fxflex>
    <button mat-raised-button routerLink="/servicios" routerLinkActive="active" class="servicios_button"><span class="fa fa-wrench fa-lg"></span> Servicios</button>
    <button mat-raised-button routerLink="/about" routerLinkActive="active" class="info_button"><span class="fa fa-address-card fa-lg"></span> Contacto</button>
    <button mat-raised-button (click)="openRegForm()" class="register_button"><span>Registrate</span></button>
  </div>
  
  <span class="flex-spacer"></span>
</mat-toolbar>