<mat-toolbar fxLayout="row" fxLayoutAlign="start center" class="header">
  <div class="container">
    <div fxFlex>
      <a routerLink="/principal" routerLinkActive="active"><img src="/assets/images/logoRA.png" class="logo"></a>
    </div>
  </div>

  <div fxflex>
    <button mat-raised-button routerLink="/servicios" routerLinkActive="active" class="servicios_button"><fa-icon [icon]="faComputer" size="lg"></fa-icon> Servicios</button>
    <button mat-raised-button routerLink="/about" routerLinkActive="active" class="info_button"><fa-icon [icon]="faAddressCard" size="lg"></fa-icon> Contacto</button>
    <button mat-raised-button (click)="openRegForm()" class="register_button"><fa-icon [icon]="faUserAstronaut" size="lg"></fa-icon> Log in</button>
  </div>
  
  <span class="flex-spacer"></span>
</mat-toolbar>