<div class="container footer" 
    fxLayout="row wrap"
    fxLayout.lt-md="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px"
    fxFlex>

  <div fxFlex="100" fxFlex.gt-sm="50">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="20px" class="contactus">
        <h2>Cont&aacute;ctanos!</h2>
      </div>
      <div fxFlex="55">
        <h4>Por medio de:</h4>
        <address>
          <!--Dirección-->
          <i class="fa fa-whatsapp"></i>: +52 5553813545<br>
          <i class="fa fa-phone"></i>: +52 5579014500<br>
          <a href="mailto:"></a>
        </address>
      </div>
    </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="45">
    <div style="text-align:center">
      <a mat-icon-button class="btn-facebook" target="_blank" href="https://www.facebook.com/soptecavg"><i class="fa fa-facebook fa-lg"></i></a>
      <a mat-icon-button class="btn-linkedin" target="_blank" href="https://www.linkedin.com/in/rafael-olaf-madrigal-garc%C3%ADa-b5b155237?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bc3RHAou0RTqnDYmTA04fHQ%3D%3D">
        <i class="fa fa-linkedin fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
    </div>
  </div>
  <div class="Copyright">
      <p>© Copyright 2022 RA Solutions</p>
  </div>
</div>