<div class="container footer" 
    fxLayout="row wrap"
    fxLayout.lt-md="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px"
    fxFlex>


  <div fxFlex="100" fxFlex.gt-sm="45" fxLayout="row" fxLayoutAlign="center center">
    <img src="/assets/images/logoRA.png" alt="logo" class="logo">
    <h2>Cont&aacute;ctanos!: </h2>
    <div class="social_media">
      <a mat-icon-button class="btn-facebook" target="_blank" href="https://www.facebook.com/soptecavg"><i class="fa fa-facebook fa-lg"></i></a>
      <a mat-icon-button class="btn-whatsapp" target="_blank" href="https://api.whatsapp.com/send?phone=+525553813545&text=Hola, te contacto desde la p&aacute;gina web de JRA"><i class="fa fa-whatsapp fa-lg"></i></a>
      <a mat-icon-button class="btn-linkedin" target="_blank" href="https://www.linkedin.com/in/rafael-olaf-madrigal-garc%C3%ADa-b5b155237?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bc3RHAou0RTqnDYmTA04fHQ%3D%3D">
        <i class="fa fa-linkedin fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
    </div>
  </div>
  <div class="Copyright">
      <p>© Copyright 2022 RA Solutions</p>
  </div>
</div>