<div class="container">
  <div class="container_img">
    <div class="card">
      <a routerLink="/soporte" routerLinkActive="active">
        <img src="./assets/images/reparacionJra.webp">
      </a>
      <div class="card__head">Mantenimiento y Soporte T&eacute;cnico</div>
    </div>
    <div class="card">
      <a routerLink="/venta" routerLinkActive="active">
        <img src="./assets/images/componentes3.webp">
      </a>
      <div class="card__head">Venta de equipos y componentes de c&oacute;mputo</div>
    </div>
    <div class="card">
      <a routerLink="/webDesign" routerLinkActive="active">
        <img src="./assets/images/desarrolloWebJra1.webp">
      </a>
      <div class="card__head">Diseño de P&aacute;ginas Web</div>
    </div>
    <div class="card">
      <a routerLink="/videovigilancia" routerLinkActive="active">
        <img src="./assets/images/videJra.webp">
      </a>
      <div class="card__head">Instalaci&oacute;n de sistemas de video-vigilancia</div>
    </div>
    <div class="card">
      <a routerLink="/redes" routerLinkActive="active">
        <img src="./assets/images/redesJra.webp">
      </a>
      <div class="card__head">Redes</div>
    </div>
  </div>
</div>
<button class="home-btn">
  <fa-icon [icon]="faHouseChimney"></fa-icon>
</button>



