/*Cuantico Font*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

/* Colores básicos */

$primary_0: #FD009D;
$primary_1: #F0FFFF;
$primary_2: #A569BD;
$primary_3: #4A235A;
$primary_4: #401E4E;
$secondary_1: #00CCFF;
$secondary_2: #CCFF00;
$secondary_3: #00FF33;
$secondary_4: #13DAB6;

$raColor_1: #0B132B;
$raColor_2: #1C2541;
$raColor_3: #3A506B;
$raColor_4: #5BC0BE;
$raColor_5: #6FFFB9;


.container{
    height: calc(100vh - 240px);
    text-align: justify;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    margin-top: 3vmin;
    .intro{
        width: 500px;
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 5px 5px 30px rgba(27, 253, 156, 0.4);
        border-radius: 5px;
        padding: 15px;
        color: $raColor_1;
        border: 2px solid $raColor_5;
    }& h, h2{
        font-family: inherit;
        text-shadow: 1px 1px $raColor_1;
    }
}





    