<div fxLayout="row" fxLayoutAlign="start center" fxFlexOffset="3" class="container">
  <div class="intro">
    <h2>JRA Solutions</h2>
    <p>
      Somos una empresa con m&aacute; de 10 años de experiencia, dedicada a brindar servicios 
      de reparaci&oacute;, venta, y soporte t&eacute;cnico a equipos de c&oacute;mputo, instalaci&oacute;
      de redes inform&aacute;, circuitos de video-vigilancia, as&iacute; como a la creaci&oacute;y mantenimiento
      de p&aacute;ginas y aplicaciones web.
    </p>
    <p>
      Hemos brindado nuestros servicios a grandes empresas reconocidas a nivel nacional, así como a particulares,
      nuestra calidad y experiencia nos respalda.
    </p>
  </div>
</div>


