/*Cuantico Font*/
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/* Colores básicos */
$raColor_1: #0B132B;
$raColor_2: #1C2541;
$raColor_3: #3A506B;
$raColor_4: #5BC0BE;
$raColor_5: #6FFFB9;


.container{
    height: calc(100vh - 230px);
    margin-top: 30px;
    margin-bottom: 30px;
    .descripcion{
        width: 600px;
        text-align: justify;
    }
    p, h1, h2, h3{
        font-family: 'Russo One', sans-serif;
    }
    img {
        margin-top: 20px;
        width: 100%;
        border-radius: 5px;
    }
}




    