
<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <div class="descripcion">
    <mat-card>
      <mat-card-title>
        <h2>Nosotros</h2>
      </mat-card-title>
      <p>Somos una empresa con m&aacute;s de 15 a&ntilde;os de experiencia en el soporte t&eacute;cnico,
        venta y mantenimiento de equipos de c&oacute;mputo, y redes inform&aacute;ticas.</p>
      <p>
        Brindamos nuestros servicios a particulares, as&iacute; como a grandes empresas reconocidas a nivel nacional.
      </p>
    </mat-card>
    <div>
      <img src="/assets/images/soporteRA1.png">
    </div>
  </div>
</div>