<div fxLayout="column" fxLayoutAlign="start center" class="container">
  <div class="intro">
    <h2>JRA Solutions</h2>
    <p>
      Somos una empresa con m&aacute; de 10 años de experiencia, dedicada a brindar servicios 
      de reparaci&oacute;, venta, y soporte t&eacute;cnico a equipos de c&oacute;mputo, instalaci&oacute;
      de redes inform&aacute;, circuitos de video-vigilancia, as&iacute; como a la creaci&oacute;y mantenimiento
      de p&aacute;ginas y aplicaciones web.
    </p>
    <p>
      Hemos bindado nuestros servicios a grandes empresas reconocidas a nivel nacional, así como a particulares,
      nuestra calidad y experiencia nos respalda.
    </p>
  </div>
</div>

<div class="container_img">
  <div class="card">
    <img src="./assets/images/reparacionJra.webp">
    <div class="card__head">Mantenimiento y Soporte T&eacute;cnico</div>
  </div>
  <div class="card">
    <img src="./assets/images/componentes3.webp">
    <div class="card__head">Venta de equipos y componentes de c&oacute;mputo</div>
  </div>
  <div class="card">
    <img src="./assets/images/desarrolloWebJra1.webp">
    <div class="card__head">Diseño de P&aacute;ginas Web</div>
  </div>
  <div class="card">
    <img src="./assets/images/videJra.webp">
    <div class="card__head">Instalaci&oacute;n de sistemas de video-vigilancia</div>
  </div>
  <div class="card">
    <img src="./assets/images/redesJra.webp">
    <div class="card__head">Redes</div>
  </div>
</div>