@use './variables';
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$RA_Solutions-primary: mat.define-palette(mat.$indigo-palette);
$RA_Solutions-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$RA_Solutions-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$RA_Solutions-theme: mat.define-light-theme((
  color: (
    primary: $RA_Solutions-primary,
    accent: $RA_Solutions-accent,
    warn: $RA_Solutions-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($RA_Solutions-theme);

/* You can add global styles to this file, and also import other style files */


@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@import '../node_modules/font-awesome/scss/font-awesome';

/* Colores básicos */

$primary_0: #FD009D;
$primary_1: #F0FFFF;
$primary_2: #A569BD;
$primary_3: #4A235A;
$primary_4: #401E4E;
$secondary_1: #00CCFF;
$secondary_2: #CCFF00;
$secondary_3: #00FF33;
$secondary_4: #13DAB6;

$raColor_1: #0B132B;
$raColor_2: #1C2541;
$raColor_3: #3A506B;
$raColor_4: #5BC0BE;
$raColor_5: #6FFFB9;

body{
    padding: 0;
    margin: 0;
    background-color: $raColor_3;
    font-family: 'Audiowide', cursive;
    color: $primary_1;
    height: 100%;
}

body::-webkit-scrollbar{
    width: 15px;
    border-radius: 10px;
    background-color: rgba($color: $primary_0, $alpha: .5);
}

body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgba($color: $raColor_5, $alpha: .6);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
